<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplikasi Auth Server</title>
</head>
<body>
    <h1>Aplikasi Auth Server</h1>
    <a th:href="@{/logout}">Logout</a>

    <div th:text="${currentUser}">User yang sedang login</div>

</body>
</html>
